<div>
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                <h1>Raspitor</h1>

                <p>Manage your little thing :)</p>
            </div>
            <div class="pull-right">
                <span id="cpuGaugeContainer"></span>
                <span id="memoryGaugeContainer"></span>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-hover table-striped">
            <thead>
            <th>PID</th>
            <th>User</th>
            <th>CPU</th>
            <th>Mem</th>
            <th>Command</th>
            </thead>
            <tbody class="processes">
            <tr ng-repeat="topLine in topData.topProc | filter:filterTop">
                <td ng-bind="topLine.pid"></td>
                <td ng-bind="topLine.user"></td>
                <td ng-bind="topLine.cpu"></td>
                <td ng-bind="topLine.mem"></td>
                <td ng-bind="topLine.command"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>

</div>
